/* CSS Document */
body.basicbody {
  margin: 0px auto;
  /*background-color: purple;*/
}
.contact > table {
  width: 100%;
  table-layout: fixed;
  height: : 40px;
  border-collapse: collapse;
  background-color: white;
}
.contact > table td {
  border: 1px solid black;
}
.contact > table td.image {
  width: 40px;
  background-color: lightgrey;
}
.contact > table td.details {
  font-size: 14px;
  color: black;
  vertical-align: middle;
  text-align: left;
  padding: 10px;
}
.dragging {
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.placeholder {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
